HF_TOKEN=API_KEY_HERE

# Use only when needed (from 11th directory)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
LANGSMITH_API_KEY='API_KEY_HERE'
LANGSMITH_PROJECT='project-name'